<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chicovg.symptommgmt" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:name=".SymptomMgmtApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.chicovg.symptommgmt.HomepageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chicovg.symptommgmt.PatientDetail"
            android:label="@string/title_activity_patient_detail">
        </activity>
        <activity
            android:name="com.chicovg.symptommgmt.DoctorDashboard"
            android:label="@string/title_activity_doctor_dashboard"
            android:parentActivityName="com.chicovg.symptommgmt.HomepageActivity" >
        </activity>

        <provider
            android:name="com.chicovg.symptommgmt.provider.SymptomMgmtContentProvider"
            android:authorities="com.chicovg.symptommgmt"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <service
            android:name="com.chicovg.symptommgmt.service.HttpService"
            android:exported="false" >
        </service>

        <receiver android:name="com.chicovg.symptommgmt.receiver.SystemAlarmBrodcastReceiver" />

        <activity
            android:name="com.chicovg.symptommgmt.DoctorProfile"
            android:label="@string/title_activity_doctor_profile"
            android:parentActivityName="com.chicovg.symptommgmt.DoctorDashboard" >
        </activity>
        <activity
            android:name="com.chicovg.symptommgmt.PatientCheckInSearch"
            android:label="@string/title_activity_patient_check_in_search"
            android:parentActivityName="com.chicovg.symptommgmt.DoctorDashboard" >
        </activity>
    </application>

</manifest>
